<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.bidsystem.bid.mapper.AdminMapper">
    
    <!-- 사용자 정보 조회 (ID 또는 전화번호 등) -->
    <select id="getUserByQuery" parameterType="hashmap" resultType="hashmap">
        SELECT * 
        FROM adminuser 
        WHERE
        <choose>
            <when test="queryType == 'userid'">
                userid = #{query}
            </when>
            <when test="queryType == 'telno'">
                telno = #{query}
            </when>
            <when test="queryType == 'email'">
                email = #{query}
            </when>
            <when test="queryType == 'both'">
                telno = #{query} OR email = #{query}
            </when>
            <otherwise>
                1 = 0 <!-- 잘못된 필드명이 들어왔을 경우 아무 결과도 반환하지 않도록 -->
            </otherwise>
        </choose>
    </select>

    <!-- 중복확인용 email 건수 확인 -->
    <select id="getEmailCount" parameterType="hashmap" resultType="hashmap">
        SELECT COUNT(*) AS email_count
        FROM adminuser
        WHERE telno != #{telno} AND
            email = #{email}
    </select>

    <!-- 사용자 등록 -->
    <insert id="registerUser" parameterType="hashmap">
        INSERT INTO adminuser (userid, password, username, email, telno, postcode, addr1, addr2, usertype)
        VALUES (#{userId}, #{password}, #{userName}, #{email}, #{telno}, #{postCode}, #{addr1}, #{addr2}, #{userType})
    </insert>

    <!-- 사용자 정보 업데이트 CamelCase가 아님을 유의-->
    <update id="updateUser" parameterType="hashmap">
        UPDATE adminuser
        <set>
            <if test="username != null"> username = #{username}, </if>
            <if test="email != null"> email = #{email}, </if>
            <if test="telno != null"> telno = #{telno}, </if>
            <if test="postcode != null"> postcode = #{postcode}, </if>
            <if test="addr1 != null"> addr1 = #{addr1}, </if>
            <if test="addr2 != null"> addr2 = #{addr2}, </if>
            <if test="usertype != null"> usertype = #{usertype} </if>
        </set>
        WHERE telno = #{telno}
    </update>
    
    <!-- 비밀번호 변경 -->
    <update id="changePassword" parameterType="hashmap">
        UPDATE adminuser
        SET password = #{newPassword}
        WHERE telno = #{telno}
    </update>

</mapper>
